/**
 * File to create infographic styles
 */

#infographic {
  position: relative;
  margin-bottom: -1px;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 1;
    background-color: $purple;
    left: 0;
    top: 50%;
  }
}

.infographic-content {
  padding: 50px 30px;
  background-color: #fff;
  border: 1px solid $dark-grey;
  border-radius: 8px;
  position: relative;
  z-index: 2;

  h3 {
    text-align: center;
    margin: 0 0 24px 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.6;
  }

  .info-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 30px;
    img {
      width: 70px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    p {
      width: calc(100% - 100px);
      float: right;
      color: #5d1499;
    }
  }
}