/**
* File to config title styles
*/

.main-title {
  text-align: center;
  line-height: 1.5;
  h1, h2, h3, h4, h5, h6 {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    margin-top: 0;
    font-weight: bold !important;
  }

  &.with-subtitle {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 8px;
    }
    span {
      display: block;
      max-width: 260px;
      margin: 0 auto;
      font-size: 14px;
    }
  }

  &.color-white {
    h1, h2, h3, h4, h5, h6, span {
      color: #fff;
    }
  }

  &.color-purple {
    h1, h2, h3, h4, h5, h6, span {
      color: $purple;
    }
  }
}