/**
* Styles for main page
*/

@import './../../../../node_modules/@glidejs/glide/src/assets/sass/glide.core';

*, *::after, *::before {
  box-sizing: border-box;
}

main {
  display: block;
  width: 100vw;
  overflow: hidden;
}

.banner-campaign {
  background-color: #5C068C;
  padding-bottom: 16px;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

#complete-list-offers {
  padding: 24px 0;
  border-radius: 24px;
  position: relative;
  margin-top: -60px;
  background-color: #fff;
  p {
    text-align: center;
  }

}

#newsletter {
   padding-bottom: 24px;
 }

#newsletter-wrapper {
  margin: 0 auto;
  background-color: $purple;
  padding: 20px 24px 24px;
  border-radius: 4px;
  box-shadow: 0 3px 10px #00000029;
  * {
    box-sizing: border-box !important
  }
  form {
    margin: 28px auto 0;
    input {
      width: 100%;
      height: 46px;
      padding: 8px;
      font-family: 'Roboto', sans-serif;
      background-color: #fff;
      margin-bottom: 0;
      color: $purple;
      font-size: 14px;
    }

    button {
      width: 100%;
      background-color: $yellow;
      font-weight: bold;
      color: $purple;
      height: 46px;
      border-radius: 4px;
      border: 0;
      outline: none;
      margin-top: 16px;
    }

    ::placeholder {
      color: $purple;
    }
  }
}

.newsletter-header {
  justify-content: center;
  p {
    color: #fff;
    margin-left: 20px;
    font-size: 13px;
    font-weight: 300;
    max-width: 520px;
    line-height: 1.5;
  }
}

#about-clickbusx {
  padding-bottom: 32px;
  h3 {
    font-weight: 900;
    color: $purple;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
  }

  .container {
    min-width: 900px !important;
    width: 900px !important;
  }
}

.long-description {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
}

.highlight-wrapper {
  background-color: rgba(#DFA8FF, 0.15);
  text-align: center;
  padding: 36px 12px;
  border-radius: 12px;
  margin-top: 12px;
  width: 31.5%;

  &:not(:last-of-type) {
    margin-right: 2%;
  }

  img {
    height: 30px;
  }

  span {
    display: block;
    font-size: 12px;
    color: $purple;
    margin-top: 12px;
  }
}