<% var item, key %><%
htmlWebpackPlugin.options.links = htmlWebpackPlugin.options.links || [] %><%
htmlWebpackPlugin.options.metaTags = htmlWebpackPlugin.options.metaTags || [] %><%
htmlWebpackPlugin.options.scripts = htmlWebpackPlugin.options.scripts || []
%><!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <link rel="icon" href="https://static.clickbus.com/live/ClickBus/favicon-purple-16x16.png" sizes="16x16">
    <link rel="icon" href="https://static.clickbus.com/live/ClickBus/favicon-purple-32x32.png" sizes="32x32">
    <title><%= htmlWebpackPlugin.options.title %></title><%

    if (Array.isArray(htmlWebpackPlugin.options.metaTags)) { %><%

    if (htmlWebpackPlugin.options.mobile) { %>
    <meta content="width=device-width, initial-scale=1" name="viewport"><%
    } %> <% if(htmlWebpackPlugin.options.renderPlaceholders) { %>%stylesheets% <% } %> <%
    for (item of htmlWebpackPlugin.options.metaTags) { %>
    <meta http-equiv="content-language" content="pt-br" />
    <meta name="country" content="Brazil">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta http-equiv="cleartype" content="on">
    <meta<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>><%
    } %><%
    } %><%

    %><%

    for (item of htmlWebpackPlugin.options.links) { %><%
    if (typeof item === 'string' || item instanceof String) { item = { href: item, rel: 'stylesheet' } } %>
    <link<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %> /><%
    } %>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TSZQ6Q" height="0" width="0"
                      style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TSZQ6Q');</script>
    <!-- End Google Tag Manager -->

    <style>
        body select {
            display: block !important;
        }
    </style>
</head>
<body>

<% if(htmlWebpackPlugin.options.renderPlaceholders) { %>%header% <% } %>

<%= require('html-loader!./../modules/app.component.html') %>

<% if(htmlWebpackPlugin.options.renderPlaceholders) { %>%footer% %javascripts% <% } %>
<%

for (item of htmlWebpackPlugin.options.scripts) { %><%
if (typeof item === 'string' || item instanceof String) { item = { src: item, type: 'text/javascript' } } %>
<script<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>></script><%
} %>
<%

for (key in htmlWebpackPlugin.files.chunks) { %><%
    if (htmlWebpackPlugin.files.jsIntegrity) { %>
    <script
        src="<%= htmlWebpackPlugin.files.chunks[key].entry %>"
        type="text/javascript"
        integrity="<%= htmlWebpackPlugin.files.jsIntegrity[htmlWebpackPlugin.files.js.indexOf(htmlWebpackPlugin.files.chunks[key].entry)] %>"
        crossorigin="<%= webpackConfig.output.crossOriginLoading %>"></script><%
} else { %>
<%
} %><%
} %>
</body>
</html>